@import url("https://fonts.googleapis.com/css2?family=Heebo&family=Joan&family=Koulen&family=Playfair+Display:wght@600&family=Poppins:wght@100&family=Tai+Heritage+Pro&display=swap");

* {
  font-family: Koulen, Arial, Helvetica, sans-serif;
  margin: 0;
}
.column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.topS {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  margin-top: 1vh;
  margin-bottom: 6vh;
}
.timerT {
  display: flex;
  flex-wrap: wrap;

  font-size: 5vh;
}
.hcBtn {
  background-color: yellow;
  padding: 0.1vh;
  padding-left: 3vh;
  padding-right: 3vh;
  border: black solid;
  border-width: 0.5vh;
  border-radius: 10px;

  text-decoration: none;
  color: black;
  font-weight: bolder;
}
@media screen and (max-width: 129px) {
  .timerT {
    font-size: 3vh;
  }
  .hcBtn {
    padding-left: 2vh;
    padding-right: 2vh;
  }
}
/* body css here */

.body {
  margin: auto;
  display: inline-block;
}
.choice {
  font-size: 3vh;
}
.choiceBox {
  display: flex;
  background-color: rgb(112, 194, 197);
  margin-bottom: 1vh;
  border: black solid 3px;
}
.choiceBox:hover {
  opacity: 75%;
}
.question {
  font-size: 3vh;
  margin-bottom: 10px;
}
.choiceNum {
  padding-right: 0.5vh;
  padding-left: 0.5vh;
  font-size: 3vh;
}
.choice {
  width: 100%;
}
.hidden {
  display: none;
}

.right {
  display: flex;
  background-color: rgb(10, 248, 50);
  margin-bottom: 1vh;
  border: black solid 3px;
  font-size: 3vh;
}

.wrong {
  display: flex;
  background-color: rgb(185, 19, 19);
  margin-bottom: 1vh;
  border: black solid 3px;
  font-size: 3vh;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.5vh;
}
.highS {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
